::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
body {
	/* background-color:#222; */
	font-size: 1.2em;
	background-image:url('../img/Hut.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.title {
	margin:3%;
	text-align:center;
	color:white;
	font-family: 'Pacifico', cursive;
}
.pizza, #comanda {
	list-style-type:none;
	text-align:left;
	margin-left:-40px;
	margin-top:-10px;
	}
.subtitlu {
	color:white;
	font-family: 'Pacifico', cursive;	
}
.panel>.panel-heading {
	background-color:#222;
	padding-top:1px;
	}
h4 {
	font-size: 130%;
	font-weight:bold;
}
.bo {
	height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.co {
	height:80px;
	overflow: scroll;
}
.pizza>li:hover {
	color: #b700b7;
	cursor:pointer;
}
.pizza>li:active {
	color: #a76f17;
	cursor:progress;
}
.imagine {
	position:relative;
	width:100%;
	height:100%;
	display:none;
}
.btn {
	float:right;
}

.badge {
	display:none;
}

.antet ul li {
	list-style-type: none;
	display: inline-block;
	background: #999;
	margin-top:-20px;
	padding: 3px 10px;
	border-radius: 10px 0 10px 0;
	color: #fff;
	font-weight: 200;
	cursor:pointer;
	font-family: 'Pacifico', cursive;
}

.antet ul li:hover {
	color: #fff;
	background: #666;
}

.antet ul li.active {
	color:#fff;
	background: #222;
}

.tab-panels .panel {
	display:none;
	background: #fff;
	padding-top:10px;
	border-radius:0 0 10px 10px;
}

.tab-panels .panel.active {
	display:block;
}
.tabs {
	margin-left:-40px;
}
.butonx {
	float:right;
	/*margin-top:-30px;*/
	display:none;
}

.butonx.active {
	display: inline-block;
}